.text-center {
  text-align: center;
}

.card {
  /* max-width: 800px; */
  margin: 0 auto;
  border-color: #007bff;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}